@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  nav {
    @apply absolute top-[100px] bottom-0 w-[300px] z-10;
  }
 
  div.navcartdiv{
    @apply p-10 absolute top-[80px] w-[260px];
  }

  
}

@layer components {
  .background {
    @apply bg-black absolute top-0 left-0 bottom-0 w-[300px];
  }
  .icon-placeholder {
    @apply w-[45px] h-[45px] rounded-full;
  }
  .text-placeholder {
    @apply flex-1 h-8 rounded-lg;
  }
  .navlink{
    @apply text-gray-400 font-medium text-sm hover:text-white
  }
  .active{
    @apply text-white
  }
  .topnave{
    @apply shadow-md max-w-[1440px] mx-auto h-[80px] sticky top-0 left-0 right-0 z-30 bg-[#FFF] flex items-center justify-between px-4 md:px-8 py-2
  }
  .navlogo{
    @apply flex items-center gap-4
  }
  .navflag{
    @apply flex items-center gap-2
  }
  .textbase{
    @apply text-base text-gray-800
  }
  .btn {
    @apply  px-6 py-2 bg-black rounded-full transition-all duration-300 hover:ring-2 hover:ring-black hover:ring-offset-2 text-white text-lg font-bold capitalize  flex items-center justify-center
  }
  .headtext{
    @apply text-3xl font-bold
  }
  .productname{
    @apply text-lg font-semibold text-sky-800
  }
  .productprice{
    @apply text-base text-gray-700
  }
  .sectiontitle{
    @apply text-2xl font-bold capitalize
  }
  .shadowapply {
    @apply border-[1.5px] shadow-md
  }
  .othertext{
    @apply text-base text-gray-700
  }
  .linktext{
    @apply text-lg text-blue-500 
  }
  .cartbtn{
    @apply uppercase text-[#233666] hover:text-white font-extrabold rounded-[10px] text-base tracking-wider border-2  border-[#233666] hover:bg-[#233666] flex justify-center mx-auto items-center w-[200px] h-[40px];
  }
  .productdetailTitle{
    @apply capitalize text-2xl font-bold text-sky-800
  }
  .productdetailprice{
    @apply text-gray-700 text-xl font-medium
  }
}

/* menu items */

.swiper-pagination{
  bottom: -33px !important;
  padding-bottom: 28px !important;
}
.swiper-pagination-bullet{
  width: 20px !important;
  height: 20px !important;
}
.swiper-pagination-bullet-active{
  background-color: black !important;
}

body {
  -webkit-tap-highlight-color: transparent;
}
.navbarscroll{
  overflow: auto;
}
.navbarscroll::-webkit-scrollbar{
  display: none;
}
body::-webkit-scrollbar {
  display: none;
}
.navbarscroll{
  -ms-overflow-style: none;  
scrollbar-width: none; 
}
body {
-ms-overflow-style: none;  
scrollbar-width: none; 
}
.textset {
  text-align: justify;
  text-justify: inter-word;
  text-indent: 40px;
}

/* accordian */

.sidebar-item{
  display: block;
  transition: background-color .15s;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  gap: 2px;
}
.sidebar-item:hover{
  background-color: rgba(255, 255, 255, .2);
}

.sidebar-title{
  display: flex;
  font-size: 1.2em;
  align-items: center;
  justify-content: space-between;
}

.sidebar-title .toggle-btn{
  cursor: pointer;
  transition: transform .3s;
}
.sidebar-item.open > .sidebar-title .toggle-btn{
  transform: rotate(180deg);
}
.sidebar-content{
  height: 0;
  overflow: hidden;
  border: 1px solid whitesmoke;
}
.sidebar-item.open > .sidebar-content{
  height: auto;
  padding-bottom: 12px;
  padding-top: 12px;
}
